@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "tailwindcss";
@theme {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
@plugin "daisyui" ;
@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  prefersdark: true;
 --p: var(--color-primary); 
 --s: var(--color-secondary); 
 --a: var(--color-accent);
 --b-200: var(--color-base-200);
 
 --color-primary: #be3144;
 --color-secondary: #45567d;
 --color-accent: #f0f0f0;
 --color-base-200: #303841;
}
@plugin "daisyui/theme" {
  name: "cyberpunk";
  default: false;
}
@plugin "daisyui/theme" {
  name: "valentine";
  default: false;
}
@plugin "daisyui/theme" {
  name: "coffee";
  default: false;
}
@plugin "daisyui/theme" {
  name: "retro";
  default: false;
}
@plugin "daisyui/theme" {
  name: "cupcake";
  default: false;
}
@plugin "daisyui/theme" {
  name: "acid";
  default: false;
}
html {
  scroll-behavior: smooth;
}

